<div class="grid grid-cols-3" id="<%=dom_id user_password%>">
    <div><%= user_password.user.email %></div>
        <div><b><%= user_password.role%></b></div>
        <div class="text-right">
            <%= button_to "Remove", password_share_path(@password,user_password.user), method: :delete if @user_password.shareable?%>
        </div>
</div>